USE [master]
GO
/****** Object:  Database [CompanyX_DW]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE DATABASE [CompanyX_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyX_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CompanyX_DW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyX_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CompanyX_DW_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyX_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyX_DW]
GO
/****** Object:  Schema [stg]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [stg].[Customer]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Customer](
	[CustomerID] [int] NOT NULL,
	[PersonID] [int] NULL,
	[StoreID] [int] NULL,
	[TerritoryID] [int] NULL,
	[AccountNumber] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Person]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Person](
	[BusinessEntityID] [int] NOT NULL,
	[PersonType] [nvarchar](2) NULL,
	[NameStyle] [bit] NULL,
	[Title] [nvarchar](8) NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Suffix] [nvarchar](10) NULL,
	[EmailPromotion] [tinyint] NULL,
	[AdditionalContactInfo] [nvarchar](max) NULL,
	[Demographics] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_Person] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[Product]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Product](
	[ProductID] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[ProductNumber] [nvarchar](50) NULL,
	[MakeFlag] [bit] NULL,
	[FinishedGoodsFlag] [bit] NULL,
	[Color] [nvarchar](15) NULL,
	[SafetyStockLevel] [smallint] NULL,
	[ReorderPoint] [smallint] NULL,
	[StandardCost] [decimal](19, 4) NULL,
	[ListPrice] [decimal](19, 4) NULL,
	[Size] [nvarchar](10) NULL,
	[SizeUnitMeasureCode] [nchar](3) NULL,
	[WeightUnitMeasureCode] [nchar](3) NULL,
	[Weight] [decimal](8, 2) NULL,
	[DaysToManufacture] [int] NULL,
	[ProductLine] [nchar](2) NULL,
	[Class] [nchar](2) NULL,
	[Style] [nchar](2) NULL,
	[ProductSubcategoryID] [int] NULL,
	[ProductModelID] [int] NULL,
	[SellStartDate] [datetime] NULL,
	[SellEndDate] [datetime] NULL,
	[DiscontinuedDate] [datetime] NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[ProductCategory]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[ProductCategory](
	[ProductCategoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[ProductSubcategory]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[ProductSubcategory](
	[ProductSubcategoryID] [int] NOT NULL,
	[ProductCategoryID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_ProductSubcategory] PRIMARY KEY CLUSTERED 
(
	[ProductSubcategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SalesOrderDetail]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SalesOrderDetail](
	[SalesOrderID] [int] NOT NULL,
	[SalesOrderDetailID] [int] NOT NULL,
	[CarrierTrackingNumber] [nvarchar](25) NULL,
	[OrderQty] [int] NULL,
	[ProductID] [int] NULL,
	[SpecialOfferID] [int] NULL,
	[UnitPrice] [decimal](19, 4) NULL,
	[UnitPriceDiscount] [decimal](19, 4) NULL,
	[LineTotal] [decimal](19, 4) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_SalesOrderDetail] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC,
	[SalesOrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SalesOrderHeader]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SalesOrderHeader](
	[SalesOrderID] [int] NOT NULL,
	[RevisionNumber] [tinyint] NULL,
	[OrderDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[OnlineOrderFlag] [bit] NULL,
	[SalesOrderNumber] [nvarchar](25) NULL,
	[PurchaseOrderNumber] [nvarchar](25) NULL,
	[AccountNumber] [nvarchar](15) NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[TerritoryID] [int] NULL,
	[BillToAddressID] [int] NULL,
	[ShipToAddressID] [int] NULL,
	[ShipMethodID] [int] NULL,
	[CreditCardID] [int] NULL,
	[CreditCardApprovalCode] [varchar](15) NULL,
	[CurrencyRateID] [int] NULL,
	[SubTotal] [money] NULL,
	[TaxAmt] [money] NULL,
	[Freight] [money] NULL,
	[TotalDue] [money] NULL,
	[Comment] [nvarchar](128) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SalesOrderHeaderSalesReason]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SalesOrderHeaderSalesReason](
	[SalesOrderID] [int] NOT NULL,
	[SalesReasonID] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_SOH_SR] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC,
	[SalesReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SalesReason]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SalesReason](
	[SalesReasonID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ReasonType] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_SalesReason] PRIMARY KEY CLUSTERED 
(
	[SalesReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SpecialOffer]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SpecialOffer](
	[SpecialOfferID] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPct] [decimal](9, 4) NULL,
	[Type] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[MinQty] [int] NULL,
	[MaxQty] [int] NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_SpecialOffer] PRIMARY KEY CLUSTERED 
(
	[SpecialOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[SpecialOfferProduct]    Script Date: 9/29/2025 8:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[SpecialOfferProduct](
	[SpecialOfferID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[rowguid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[etl_load_dtm] [datetime2](7) NOT NULL,
	[etl_batch_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_stg_SpecialOfferProduct] PRIMARY KEY CLUSTERED 
(
	[SpecialOfferID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_Customer_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_Customer_ModifiedDate] ON [stg].[Customer]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_Person_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_Person_ModifiedDate] ON [stg].[Person]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_Product_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_Product_ModifiedDate] ON [stg].[Product]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_PC_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_PC_ModifiedDate] ON [stg].[ProductCategory]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_PSC_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_PSC_ModifiedDate] ON [stg].[ProductSubcategory]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_SOD_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_SOD_ModifiedDate] ON [stg].[SalesOrderDetail]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_SOH_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_SOH_ModifiedDate] ON [stg].[SalesOrderHeader]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_SOH_SR_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_SOH_SR_ModifiedDate] ON [stg].[SalesOrderHeaderSalesReason]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_SpecialOffer_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_SpecialOffer_ModifiedDate] ON [stg].[SpecialOffer]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stg_SOP_ModifiedDate]    Script Date: 9/29/2025 8:11:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_stg_SOP_ModifiedDate] ON [stg].[SpecialOfferProduct]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [stg].[Customer] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[Customer] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[Person] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[Person] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[Product] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[Product] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[ProductCategory] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[ProductCategory] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[ProductSubcategory] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[ProductSubcategory] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SalesOrderDetail] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SalesOrderDetail] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SalesOrderHeader] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SalesOrderHeader] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SalesOrderHeaderSalesReason] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SalesOrderHeaderSalesReason] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SalesReason] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SalesReason] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SpecialOffer] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SpecialOffer] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
ALTER TABLE [stg].[SpecialOfferProduct] ADD  DEFAULT (sysdatetime()) FOR [etl_load_dtm]
GO
ALTER TABLE [stg].[SpecialOfferProduct] ADD  DEFAULT (newid()) FOR [etl_batch_id]
GO
USE [master]
GO
